@font-face {
    font-family: escola;
    src: url('../font/Escolar_G.TTF');
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: escola !important;
    background-image: url('../img/background2.jpg');
    background-repeat: repeat;
}

/* NAV */
nav ul{
    /*float: right;*/
}
nav ul li{
    list-style: none;
    /*float: left;*/
    text-align: center;
    /*margin: 20px;*/
    font-size: 16pt;  
}

nav ul li a{
    text-decoration: none;
    color: #961032;
    cursor: pointer;
}

nav ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
}


/* MAIN */
section{
    margin: 0 auto;
}
h1{
    font-size: 50pt;
    color: #961032;
}

.centrat{
    text-align: center;
}

.imatge{
    border-radius: 4px;
    box-shadow: 0px 0px 5px #000;
    max-width: 100%;
}
video{
    max-width: 100%;
    max-height: 500px;
}

.video a, .foto a{
    cursor: pointer;
    text-decoration: none;
    color: #961032;
    font-size: 16pt;
}

.video a:hover, .foto a:hover{
    text-decoration: underline;
    font-weight: bold;
}


.selecciona input, .selecciona label{
    margin: 10px;
    cursor: pointer;
    font-size: 14pt;
    color: #961032;
}

.selecciona input:hover, .selecciona label:hover{
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    transform: scale(2);
    text-decoration: underline;
}


/* ASIDE */
aside{
    background-color: white;
    border: solid 2px #961032;
}

#items_download li {
    float: left;
    list-style: none;
}

#items_download li span{
    word-break: break-all;
}

#items_download li img{
    vertical-align: middle;
}

aside form input[type="submit"]{
    background-color: #961032;
    color: white;
    padding: 5px 10px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}



/* RESPONSIVE */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

@media screen and (max-width: 679px){
    [class*="col-"] {
        width: 50%;
    }

    .col-12 {width: 100%;}
}

@media screen and (max-width: 400px){
    [class*="col-"] {
        width: 100%;
    }
}
